# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Expo
.expo/
.expo-shared/

# React Native
android/
ios/

# macOS
.DS_Store

# Next.js
.next/

# Visual Studio Code
.vscode/